@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Oooh+Baby&family=Waterfall&display=swap');
        body{
            /* height: 100%; */
            background-color: #ffffff;
            background-image: linear-gradient(0deg, #ffffff 0%, #fec8cf 100%);
        }
        .heading{
            font-weight: 900;
            font-family: 'Oooh Baby', cursive;
            padding: 1px;
            font-size: 60px;
            color: #fa7979;
            text-shadow: 2px 2px 5px #faa0a0;
            background-color: #ffe3e3f6;
            box-shadow: 7px 8px 0.5rem #0000003a;
            font-family: 'Oooh Baby', cursive;
            padding: 1px;
            font-size: 39px;
            border-radius: 10px;
            margin: 5px;
            margin-bottom: 20px;
        }
        div{
            border-radius: 10px ;
            margin:0 100px;
            box-shadow: 2px 2px 3px #0000004f;
            text-align: center;
            text-shadow:2px 2px 4px #fd7349;
            background-color: #FF9A8B;
            background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
            font-family: 'Waterfall', cursive;
            /* height: 490px;
            width:750px; */
            color: #ffffff;
        }
        #text{
            font-weight: 800;
            text-align: center;
            padding: 2px;
            font-size: 50px;
        }
        h1{
            text-decoration: underline;
            color: #ff8f8f;
            font-family: 'Oooh Baby', cursive;
            font-weight: 900;
            font-size: 32px;
            padding: 5px;
            text-shadow:1px 1px 4px #fc7e7e;
            background-color: transparent;
        }
        @media only screen and (max-width: 450px) {
            .heading{
                font-size: 25px;
            }
            div{    
                border-radius: 10px;
                /* height: 205px;
                width:auto; */
                margin:0 12px;
                padding:0 1px;
            }
            #text{
                font-size: 32px;
                padding: 1px;
            }
            h1{
                font-size: 22px;
            }
        }