@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Oooh+Baby&family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
*{
    margin: 0;
}
html {
    height: 100%;
}
body{
            border: 2px solid white;
            min-height: 100vh;
            background-image: linear-gradient(0deg, #fcf1f1 1%, #ff8f8f 100%);
            overflow: hidden;
            background-color: #ff8f8f;
        }
        .man{
                 top: 1px;
                 position: absolute;
             }
        .heading{
            font-weight: 900;
            /* font-family: 'Dancing Script', cursive; */
            /* font-family: 'Pacifico', cursive; */
            font-family: 'Niconne', cursive;
            padding: 1px;
            font-size: 60px;
            /* color: #fa7979; */
            /* color: #ff8f8f; */
            color: #ff797f;
            text-shadow: 2px 2px 5px #ffdede;
            background-color: #fdccccf6;
            background-image: linear-gradient(90deg, #FF9A8B 0%, #ffd1d9 55%, #FF99AC 100%);
            box-shadow: 7px 8px 0.5rem #0000003a;
            padding: 1px;
            font-size: 39px;
            border-radius: 6px;
            margin: 5px;
            margin-bottom: 20px;
            border-top: 3px solid #f7f4f4;
            border-bottom: 3px solid #fc8c8c;
        }
        div{
            border-top: 2px solid #fae1e1;
            border-left: 2px solid #fff5f5;
            border-bottom: 2px solid #fdb1b1;
            border-right: 2px solid #fcc6c6;
            border-radius: 10px ;
            margin:0 100px;
            box-shadow: 2px 2px 3px #0000004f;
            text-align: center;
            background-color: #FF9A8B;
            background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
            /* height: 490px;
            width:750px; */
        }
        #text{
            text-shadow:2px 2px 4px #fd7349;
            color: #ffffff;
            font-family: 'Waterfall', cursive;
            /* font-family: 'Dancing Script', cursive; */
            font-weight: 800;
            text-align: center;
            padding: 2px;
            font-size: 50px;
        }
        #to{
            font-family: 'Oooh Baby', cursive;
            text-decoration: underline;
            /* color: #ff8f8f; */
            /* text-shadow:1px 1px 4px #fc7e7e; */
            color: #fceded;
            text-shadow:2px 2px 4px #ff6a6a;
            padding: 5px;
        }
        footer{
            transform: translatey(0px);
            animation: float 3s ease-in-out infinite;

            /* margin-top: -1px; */
            background-color: #fdfeff;
            /* background-color: white; */
            height:100px;
            /* position:fixed; */
        }
        /* .floating { 
            animation-name: floating;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            margin-left: 30px;
            margin-top: 5px;
        }
         
        @keyframes floating {
            0% { transform: translate(0,  0px); }
            50%  { transform: translate(0, 15px); }
            100%   { transform: translate(0, -0px); }   
        } */
        @media only screen and (max-width: 450px) {
            .heading{
                font-size: 25px;
            }
            div{    
                border-radius: 10px;
                margin:0 12px;
                padding:0 1px;
            }
            #text{
                letter-spacing: 0.2px;
                font-size: 32px;
                padding: 1px;
            }
            #to{
                font-weight: bolder;
                font-size: 22px;
            }
        }